<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite>
<suite name="TestSuite">

	<test name="Regression test all classes on chrome">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="automation.testsuite.Day17_BepAnToan" />
			<class name="automation.testsuite.DienMayNhapKhau_ZaloTest" />
		</classes>
	</test>

	<test name="Regression test all classes on edge">
		<parameter name="browser" value="edge"></parameter>
		<classes>
			<class name="automation.testsuite.Day17_BepAnToan" />
			<class name="automation.testsuite.DienMayNhapKhau_ZaloTest" />
		</classes>
	</test>

</suite> <!--
Suite -->